<!DOCTYPE html>
      
<html>
    <head>
        <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Video monitoring system test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script>
		
		function Today_log(){
			var path2 = "{{ipaddr['log_today']}}";
			location.href = path2;
			}

		function All_log(){
			var path2 = "{{ipaddr['log_all']}}";
			location.href = path2;
			}

		function Video_open(json){
			var path2 = "{{ipaddr['video']}}";
			window.open(path2);
			}
		function Ex_page(){
			var path = "{{ipaddr['ex_ip']}}";
			var path1 = 'http://'+path+':8080/ex';
			location.href = path1;
			}
	</script>
    </head>
	<body>
	<div style="background-color:lightgrey; text-align:center">
		<h2>Video Monitoring System Test</h2>
	</div>
	<div style="text-align:center">
		<h3>Part No.1</h3>
		<td>	
			<a target="_blank" href="javascript:void(0);" onclick="Video_open();">
				<img src={{ipaddr['video']}} title="새창에서 영상 열기" style="width:50%">
			</a>
		</td>
	</div>
	<td>
	    <button type="button" class="btn btn-secondary" onclick="Today_log()">Today log</button>
	    <button type="button" class="btn btn-secondary" onclick="All_log()">All log</button>
	</td>
	<details>
		<summary>외부 접속 주소</summary>
		<p>{{ipaddr['ex_ip']}}:8080</p>
		<button type="button" class="btn btn-primary" onclick="Ex_page()">열기</button>
		<p>외부 네트워크에서 접속하기 위해서는 포트 포워딩이 필요합니다.</p>
	</details>
    </body>    
</html>
