<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<style type="text/css">
			.chartBox{
				width: 500px;
			}
		</style>
	</head>
	<body>
		<div class="chartBox">
		<canvas id="vibChart"></canvas>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0/dist/chartjs-plugin-streaming.min.js"></script>
		<script>	

		const data = {
				labels: [],
				datasets: [{
					label: 'Vibration',
					data: [],
					backgroundColor: [
						'rgba(50, 50, 255, 0.2)'
		
					],
					borderColor: [
						'rgba(50, 50, 255, 1)'
					],
					borderWidth: 1
				}]
			
		};
		// config block
		const config = {
			type: 'line',
			data,
			options: {
				animations: false
			}
		};
		// render init block
		const vibChart = new Chart(
			document.getElementById('vibChart'),
			config
		);
		
		
		var auto_refresh = setInterval(function()
            {                
                
                var getData = $.get('/data/vib');
                
                getData.done(function(result) {
                    var time_list = result.time;
                    var vib = result.vib;
                    
                    vibChart.data.datasets[0].data = vib;
                    vibChart.data.labels = time_list;
                });
                vibChart.update();
            },1000);  
		

		</script>
 
	</body>

</html>
